
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

venv/
env/
.venv/


.env
.vscode/


serviceAccountKey.json
serviceAccountKey.json
#  Google Cloud Credentials
config/service-account.json
config/*.json

#  Entornos
.env
*.env

# 🔒 Archivos sensibles de configuración
config/firebase_config.py

